.content {
    margin-left: 15rem;
  }
  
  .chart-stats-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-left: 5rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  
  .saving-last-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-left: 5rem;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  /* Media Query for small screens */
  @media (min-width: 576px) {
    .content {
      margin-left: 0;
    }
  
    .chart-stats-con,
    .saving-last-con {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Media Query for medium screens */
  @media (min-width: 768px) {
    .content {
      margin-left: 2rem;
    }
  
    .chart-stats-con,
    .saving-last-con {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Media Query for large screens */
  @media (min-width: 992px) {
    .content {
      margin-left: 15rem;
    }
  
    .chart-stats-con,
    .saving-last-con {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  