h1{
    color: black;
}

.container {
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center; 
    
}

.container img{
    margin-right:3rem;
    margin-left:4rem;
    border-radius: 50%;
}



